@keyframes imgSize {

  from {box-shadow:0px 0px 7px #000000;}
  to {box-shadow:0px 0px 14px #0024a1;}
}

@keyframes invImgSize {

  from {box-shadow:0px 0px 14px #0024a1;}
  to {box-shadow:0px 0px 7px #000000;}
}

@keyframes resize {

  from {min-height:0px;}
  to {min-height:100px;}
}

@keyframes revresize {

  from {min-height:100px;}
  to {min-height:0px;}
}

@keyframes sidebar {

  from {margin-left:-510px;}
  to {margin-left:0px;}
}

@keyframes revsidebar {

  from {margin-left:0px;}
  to {margin-left:-510px;}
}

body {

  margin:0px;
  font-family: DejaVu Sans;
}

.album_picture {

  width:300px;
  display:inline-block;
  margin-bottom:20px;
  margin-left:auto;
  margin-right:auto;
}

.album_picture:hover{

  margin-bottom:0px;
}

.album_picture img{

  animation-name:invImgSize;
  animation-duration:0.5s;
  width:250px;
  display:block;
  margin-left:auto;
  margin-right:auto;
  border-radius:15px;
  box-shadow:0px 0px 7px #000000;
}

.album_picture:hover img{

  animation-name:imgSize;
  vertical-align:top;
  box-shadow:0px 0px 14px #0024a1;
}

.album_picture:hover p{

  visibility:visible;
  display:block;
  position:above;
  min-height:100px;
  animation-name:resize;
  animation-duration:0.5s;
}

.album_picture p:hover {

  visibility:hidden;
  display:none;
}

.picture_container ul {

  /*display:flex;
  justify-content: space-between;*/
  padding:none;
  margin-left:auto;
  margin-right:auto;
  width:100%;
  display:inline-block;
}

.picture_container li {

/*   float:left; */
  display: inline-block;
}

.album_picture p {

  visibility: hidden;
  display:none;
  text-align:center;
  animation-name:revresize;
  animation-duration:0.5s;
}

.picture_container {

  width:80%;
  margin-left:auto;
  margin-right:auto;
  padding:none;
}

li {

  display:inline-block;
  vertical-align:top;
}

ul {

  list-style-position: inside;
}

.album_picture p {

  color:#000000;
}

.sidebar {

  float:left;
  display:inline-block;
  background-color: #45619D;
  background: linear-gradient(#45619D, #5571AD 50%, #45619D 100%);
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow:0px 0px 10px #000000;
  width:500px;
  height:auto;
  padding:10px;
  padding-right:20px;
  margin-left:-510px;
  animation-name:revsidebar;
  animation-duration:0.5s;
  position:fixed;
  color:#FFF;
}

.sidebar table tr td {

  word-wrap:break-word;
/*   display:block; */
  box-sizing:border-box;
}

.sidebar:hover {

  margin-left:0px;
  animation-name:sidebar;
}

.picture {

  max-width:80%;
  display:block;
  margin-top:100px;
  margin-left:auto;
  margin-right:auto;
  border-radius:20px;
  box-shadow:0px 0px 10px #000000;
}

.comment {

  background:radial-gradient(#FFFFFF, #d0b193);
/*   border:3px solid #000000; */
  width:500px;
  border-radius:20px;
  margin-left:auto;
  margin-right:auto;
  margin-top:30px;
  display:block;
  padding-left:20px;
  box-shadow:0px 0px 10px #000000;
}

.comment table tr td {
  word-wrap:break-word;
/*   display:block; */
  box-sizing:border-box;
  
}